*{

box-sizing:border-box;

}


body{

font-family:Arial;

margin:0;

background:#f2f2f2;

}



header{

background:#db0011;

color:white;

padding:20px;

text-align:center;

}



header img{

width:80px;

}



nav a{

color:white;

margin:15px;

text-decoration:none;

font-weight:bold;

}



.hero{

height:350px;

background:#8b0010;

color:white;

display:flex;

align-items:center;

justify-content:center;

flex-direction:column;

}



section{

padding:30px;

}



.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

}



.card{

background:white;

padding:20px;

width:280px;

border-radius:10px;

box-shadow:0px 5px 10px gray;

}



.card img{

width:100%;

}



button{

background:#db0011;

color:white;

padding:10px 20px;

border:none;

cursor:pointer;

border-radius:5px;

}



input{

display:block;

padding:10px;

margin:10px;

width:250px;

}



footer{

background:#111;

color:white;

padding:20px;

text-align:center;

}
